doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0')
    body
        section
            img(src=link_image)
            .events-content
                h1 #{title}
                hr.hr-1
                h2
                    span #{time}
                hr.hr-2
                h3 #{location}
                h4
                    | Only in
                    span STICKET